<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование пользователя</title>
</head>
<body>
<a href="/">На главную</a>
<h1>Редактирование пользователя</h1>
<form action="#" th:action="@{'/admin/' + ${user.id} + '/update'}" method="post" th:object="${user}">
    <p>
        ID<br/>
        <label>
            <input type="number" th:field="*{id}" th:readonly="true"/>
        </label>
    </p>
    <p>
        First name<br/>
        <label>
            <input type="text" th:field="*{name}" required/>
        </label>
    </p>
    <p>
        Last name<br/>
        <label>
            <input type="text" th:field="*{lastName}" required/>
        </label>
    </p>
    <p>
        Age<br/>
        <label>
            <input type="number" min="0" max="127" th:field="*{age}" required/>
        </label>
    </p>
    <p>
        Email<br/>
        <label>
            <input type="email" th:field="*{email}" required/>
        </label>
    </p>
    <p>
        Username<br/>
        <label>
            <input type="text" th:field="*{username}"/>
        </label>
    </p>
    <p>
        Password<br/>
        <label>
            <input type="password" th:field="*{password}"/>
        </label>
    </p>
    <p>
        <label for="roles">Role</label>
        <select id="roles" name="roles">
            <option th:each="role : ${user.roles}" th:text="${role.name}" th:value="${role.id}"></option>
        </select>

    </p>
    <div>
        <span>Роли:</span><br/>
        <div th:each="role : ${allRoles}">
            <input type="checkbox"
                   th:name="'roles[]'"
                   th:value="${role.id}"
                   th:checked="${#lists.contains(user.roles, role)}" />
            <label th:for="${role.id}" th:text="${role.name}"></label><br/>
        </div>
    </div>
    <button type="submit">Сохранить изменения</button>
</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выход"/>
</form>
</body>
</html>