<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">
<head>
    <meta charset="UTF-8"/>
    <title>Home Page</title>
</head>
<body>
<p>Welcome to Home Page!</p>
<br>
<a sec:authorize="hasAuthority('ROLE_ADMIN')" href="/admin">admin</a>
<br>
<a href="/user">user</a>
<br>
<a sec:authorize="isAnonymous()" href="/login">login</a>
<br>
<a href="/registration">registration</a>
<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
    <input type="submit" value="Выход"/>
</form>
</body>
</html>